<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
            integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
</head>

<body>
<div class="container">
    <h1>FdT Wrapper</h1>
    <div id="fdt-messages">
        <div v-for="message in messages">
            <div class="card bg-light mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-11">
                            <h5 class="card-title">{{ message.subject }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                {{ message.date | date }} - {{ message | author }}
                            </h6>
                        </div>
                        <div class="col-sm-1">
                            <div v-if="message.author">
                                <img class="rounded border border-light" :src="'http:' + message.author.avatar"
                                     style="max-width:100%;"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text" v-html="message.text"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    new Vue({
        el: '#fdt-messages',
        data: {
            messages: []
        },
        created() {
            fetch('http://forumdeitroll.com/JSon?action=getMessages')
                .then(response => response.json())
                .then(json => {
                    this.messages = json.content.messages.map(msg => msg.message); // unwrap
                });
        },
        filters: {
            date: timeMs => {
                let date = new Date(timeMs);
                return date.getDate() + "." + (date.getMonth() + 1) + "." + date.getFullYear() + "@" + date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
            },
            author: message => {
                if (message.author) {
                    return message.author.nick;
                }
                return "ANOnimo";
            }
        }
    })
</script>
</body>
</html>